<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="calc" publicKeyToken="c0587e7f5e733c41" culture="en-us"/>
				<bindingRedirect oldVersion="0.0.0.0" newVersion="1.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>