@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
    <head>
           <title>test2</title>
    </head>
    <body>
        <h1>Add 2 numbers</h1>
        @Html.BeginForm()){
        number1:<input type="text" id="num1" name="num1" />
        number2:<input type="text" id="num2" name="num2" />
        <input type="submit" value="add" />
        <p>Answer: @ViewBag.answer</p>
        }
    </body>
</html>