<<<<<<< HEAD
﻿@{
=======
@{
>>>>>>> ab94dfade7893148820be04f470ce8f209c59092
    ViewData["Title"] = "Home Page";
}

<h2 class="Display-1 text-primary">
<<<<<<< HEAD
    Welcome to Shopping Portal..!!
</h2>
=======
    Welcome to Ordering Web App..!!
</h2>
>>>>>>> ab94dfade7893148820be04f470ce8f209c59092
